html {
  font-family: georgia, "times new roman", times, serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: rgb(0, 0, 238);
  font-weight: bold;
}

/* navbar */
.navbar {
  border-bottom: 1px solid #e2e2e2;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  align-items: center;
}

.navbar-left-content {
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.navbar-left-content li {
  margin-left: 20px;
}

.navbar-left-content li:first-child {
  margin: 0;
}

.nytimes-logo {
  flex: 0 1 200px;
  display: flex;
  align-items: center;
}

.button-wrapper {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 1rem;
  height: auto;
}

.login-button {
  background: rgb(86, 123, 149);
  border: 0;
  border-radius: 2px;
  padding: 8px 12px;
  color: white;
}

/* main article */

main {
  width: 68%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.article-header {
  margin: 60px auto 50px auto;
}

h1.article-title {
  font-size: 32px;
  font-style: italic;
}

.article-subheader {
  font-size: 24px;
  margin: 20px 0;
}

hr {
  background: #ebebeb;
  height: 1px;
  border: 0;
  margin: 20px 0;
}

.social-btn-wrapper {
  display: flex;
}

.social-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #eee;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn:first-child {
  margin: 0;
}

.image {
  width: 100%;
  height: auto;
}

.caption {
  color: #666;
  margin-right: 20%;
  line-height: 1.25em;
  font-size: 16px;
}

.credit {
  color: #888;
  font-size: 0.9em;
}

.article-header,
.text-section {
  width: 60%;
}

/* article */
.text-section {
  margin: 20px auto;
  font-size: 20px;
}

.text-section .figure {
  margin: 30px 0;
}

/* article metadata */
.article-metadata {
  margin-bottom: 40px;
}

.article-credit {
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 1rem;
}

.article-date {
  font-size: 0.9rem;
  margin-left: 5%;
}

.article-text {
  line-height: 1.5em;
  margin-bottom: 20px;
}

.article-text:last-child {
  margin-bottom: 0;
}
